@model Bageriet.Models.ApplicationUser


@*<div class="col-md-12 padding-top-editUser">
    <form role="form" enctype="multipart/form-data" method="post" action="@Url.Action("EditUser","Account" )">
        <div class="edituser">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.UserName)
            @Html.HiddenFor(model => model.ImageUrl)
            @Html.HiddenFor(model => model.PasswordHash)
            @Html.HiddenFor(model => model.SecurityStamp)
            <hr class="colorgraph">
            <div class="form-group row">
                <label for="Email" class="col-form-label col-md-3"><b>Email:</b> </label>
                <div class="col-md-9">
                    <input type="email" id="Email" name="Email" value="@Model.Email" class="form-control" />
                </div>
                <label for="PhoneNumber" class="col-form-label col-md-3"><b>PhoneNumber:</b> </label>
                <div class="col-md-9">
                    @Html.Raw(Model.PhoneNumber == null ? "<input type='number' id='PhoneNumber' name='PhoneNumber' value='' placeholder='No phone registred' class='form-control' />" : "<input type='number' name='PhoneNumber' id='PhoneNumber' value=value=" + @Model.PhoneNumber + " placeholder='No phone registred' class='form-control' />")
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="Address" class="col-form-label col-md-3"><b>Address:</b> </label>
                <div class="col-md-9">
                    <input type="text" id="Address" name="Address" value="@Model.Adress" class="form-control" />
                </div>
                <label for="ZipCode" class="col-form-label col-md-3"><b>ZipCode:</b> </label>
                @*<div class="col-md-9">
                        <input type="text" id="ZipCode" name="ZipCode" value="@Model.City" class="form-control" />
                    @*</div>*@
                @*<label for="City" class="col-form-label col-md-3"><b>City:</b> </label>
                <div class="col-md-9">
                    <input type="text" id="City" name="City" value="@Model.City" class="form-control" />
                </div>
                <label for="CountryId" class="col-form-label col-md-3"><b>Country:</b> </label*@@*>*@
                @*<div class="col-md-9">
                        <select class="form-control selectpicker" name="CountryId" id="CountryId">
                            @{
                                foreach (var Country in ViewBag.Country)
                                {
                                    if (Country.Id == Model.CountryId)
                                    {
                                        <option selected value="@Country.Id">@Country.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@Country.Id">@Country.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>*@

            @*</div>
            <hr class="colorgraph">
            <button class="btn btn-success" type="submit">
                <i class="fa fa-check"></i> Save edit
            </button>
            <a class="btn btn-danger" href="@Url.Action("Profile", new { Email = Model.Email })">
                <i class="fa fa-close"></i> Cancel edit
            </a>
        </div>
    </form>
</div>*@


<div class="col-md-12 padding-top-editUser">
        <form action="/Account/EditUser" method="post" class="form-horizontal form-bordered" id="editUser" enctype="multipart/form-data">

                    @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Email)
            @Html.HiddenFor(model => model.UserName)
            @Html.HiddenFor(model => model.ImageUrl)
            @Html.HiddenFor(model => model.PasswordHash)
            @*@Html.HiddenFor(model => model.SecurityStamp)*@

            <h4>Personal Information</h4>
            <fieldset>
                <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-12 control-label" for="FirstName">First Name</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="@Model.FirstName" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-12 control-label" for="LastName">Last Name</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <input type="text" class="form-control" id="LastName" name="LastName" placeholder="@Model.LastName" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-12 control-label" for="Email">Email</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email" placeholder="@Model.Email" >
                    </div>
                </div>

            </fieldset>
            <hr class="dotted tall">
            <h4>About Yourself</h4>
            <fieldset>

                <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-12 control-label" for="Address">Address</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <input type="text" class="form-control" id="Address" name="Adress" placeholder="@Model.Adress" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-12 control-label" for="Profession">Profession</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <input type="text" class="form-control" id="Profession" name="Profession" placeholder="@Model.Profession" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-12 control-label" for="Description">Description</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <input type="text" class="form-control" id="Description" name="Description" placeholder="@Model.Description" >
                    </div>
                </div>
                <hr class="dotted tall">
              



            </fieldset>
           
            <div class="panel-footer bg-none">
                <div class="row">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="submit" class="btn btn-default">Submit</button>
                        <button type="reset" class="btn btn-default">Reset</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
