
@{
    ViewBag.Title = "GetRoles";
    Layout = "~/Views/Shared/Backend/_Layout.cshtml";
}
<div id="page-content">
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-user-o"></i>Se Brugerens Roller<br><small>Her se rollerne til specifikke brugere</small>
            </h1>
        </div>
    </div>
 
    <div class="block block-alt-noborder" style="min-height: 300px">
        <h3 class="sub-header">Se Roller <small>til en specifik bruger</small></h3>
        <form role="form" action="#" method="post">

            <div class="form-group">
                <label class="col-md-3 control-label" for="UserName">Brugernavn</label>
                <div class="col-md-8">
                    <select name="UserName" class="form-control">
                        <option value="" hidden>Select User</option>
                        @foreach (var item in ViewBag.Users)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>

                @*@Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users,
                    "Select user", new { @class = "form-control" })*@


            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Se brugerens roller" class="btn btn-primary" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-8">

                    @if (ViewBag.RolesForThisUser != null)
                    {
                        <div>
                            <h4>Brugerens roller</h4>
                            <br />
                            <ol class="list-group">
                                @foreach (var item in ViewBag.RolesForThisUser)
                                {
                                    <li class="list-group-item">@item</li>
                                }
                            </ol>
                        </div>
                    }
                </div>
            </div>

        </form>

    </div>
</div>
@*@if (ViewBag.RolesForThisUser != null)
    {
        <div>
            <h3>Roller for denne bruger</h3>
            <ol>
                @foreach (var item in ViewBag.RolesForThisUser)
                    {
                    <li>@item</li>
                }
            </ol>
        </div>
    }*@



@*<form method="post" action="#">
        <div class="form-group">
            <label class="control-label" for="Users">Brugernavn</label>
            <select name="UserName" id="Users" class="form-control">
                <option hidden>Vælg Bruger</option>
                @foreach (var user in ViewBag.Users)
                {
                    <option value="@user">@user.</option>
                }
            </select>
        </div>
    </form>*@