

<div class="col-md-6">
        @*<h4>Adress:<p>@Model.Street @Model.Number</p> </h4>*@
        <h4> Zipcode:<strong>@Model.ZipCode @Model.City</strong></h4>
        <h4> Contry: <strong>@Model.Country</strong></h4>
        <h4>Phone:<strong> @Model.PhoneNumber</strong> </h4>
    @*<div id="map" style="width:100%; height: 150px;"></div>*@
     </div>