@model Bageriet.Models.CompanyInfo

@{
    ViewBag.Title = "CompanyList";
    Layout = "~/Views/Shared/Backend/_Layout.cshtml";
}



<div id="page-content">
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-building-o"></i>Vores Adresse <br><small> Oplysninger om os </small>
            </h1>
        </div>
    </div>

    <div class="block block-alt-noborder" style="min-height: 300px">
        <h3 class="sub-header">Vores kontakt <small>Vores virksomheds adresse</small></h3>

        <a href="/Admin/CompanyCreate" class="btn btn-info New"><i class=" fa fa-plus"></i> Tilføj Ny </a>
        <br />

        <hr />
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gade</th>
                    <th>Postnummer</th>
                    <th>Land</th>
                    <th>Telefonnummer</th>
                </tr>
            </thead>
                <tbody>
                    <tr>
                        <td class="col-md-4">@Model.Name</td>
                        <td class="col-md-4">@Model.Street - @Model.Number</td>
                        <td class="col-md-4">@Model.ZipCode - @Model.City</td>
                        <td class="col-md-4">@Model.Country</td>
                        <td class="col-md-4">@Model.PhoneNumber</td>
                        <td>
                            <a class="btn btn-danger" href="/Admin/CompanyDelete/@Model.Id"><i class="fa fa-trash"></i></a>

                            <a class="btn btn-info" href="/Admin/CompanyEdit/@Model.Id">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
        </table>

    </div>
</div>
